HOST="192.168.1.100"
DOMAIN="MicrosoftAccount" # Opciones: "MicrosoftAccount", "AzureAD", ""
USER_RDP="usuario@dominio.cl"
PASS_RDP="tu_contraseña_aqui"
VPN_CHECK=""             # IP/Host a verificar (ej: "10.8.0.1"), dejar vacío si no requiere
PREFERRED_WS="3"         # Workspace objetivo en Hyprland
LANG_OVERRIDE=""         # Forzar idioma (ej: "en", "es"), dejar vacío para autodetección
